body {
  background-color: black !important;
  box-sizing: border-box !important;
  font-family: Montserrat !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  width: 100% !important;
  margin: 0 !important;
}
.login-page {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  padding: 5rem;
}
.card-style {
  background-color: darkcyan !important;
  border-color: aqua !important;
}
.newUser-text {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.card-header {
  text-align: center;
  padding: 1.5rem;
}
.textbox {
  font-size: 24px;
  padding-top: 1rem;
  opacity: 0.8;
  font-weight: 500;
  line-height: 33.6px;
  color: #203562;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  border-radius: 4px;
}
.card-body {
  padding: 3rem 2rem;
}
.card-style-align {
  margin-top: 7rem;
  width: 40% !important;
}
